.step{display: inline-block;width: 80px;height: 90px;text-align: center;}
.step>.icon{display: inline-block;width: 58px;height: 48px;}
.icon0{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon1{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon2{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon3{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon4{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon5{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon6{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon7{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon8{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon9{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon10{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon11{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon12{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon13{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon14{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon15{background: url(../imgs/camera.png) no-repeat 0px 0px}
.icon16{background: url(../imgs/camera.png) no-repeat 0px 0px}
.arrow{background: url(../imgs/arrow.png) no-repeat 0px 0px}
.step>.name{float: left}