.bookdetail-list
{
     padding: 0px;
}

/*
 * 任务列表相间颜色
 */
.bookdetail-list .bgcolor-zebra
{
    background-color: rgba(210, 210, 210, 0.35);
    /*background-color: rgba(236, 12, 12, 0.35);*/
}

.bookdetail-list .table
{
    table-layout: fixed;
}
/**
 * 任务列表课程名列
 * 为不同屏幕设置不同宽度
 */
.bookdetail-list .course-name
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*
@media (min-width: 480px) {
  .bookdetail-list .course-name{
    width: 100%;
  }
}
@media (min-width: 768px) {
  .bookdetail-list .course-name{
    width: 200px;
  }
}
@media (min-width: 992px) {
  .bookdetail-list .course-name{
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .bookdetail-list .course-name{
    width: 300px;
  }
}
*/
/**
 * 任务详细页面样式 
 */
.viewdetail-th
{
    color: #666666;
    width: 150px;
    font-weight: normal;
    text-align: right;
    min-width: 73px;
}
.viewdetail-th-head
{
    color: #000000;
    width: 150px;
    text-align: left;
    font-weight: bold;
}
.viewdetail td
{
    width: 150px;
    min-width: 100px;
}

.edithistory-table
{
    padding: 0px !important;
}

.edithistory-table>tbody>tr>th
{
    padding: 8px;
}
.edithistory-table>tbody>tr>td
{
    padding: 8px;
}

/**
 * 评价题目样式
 */
.appraise-form{}

.appraise-form .radio-group
{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}